n8n-jira-closing-workflow.json
{
  "name": "Jira Ready For QA Testcase Builder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "2d5e4e47-c3e6-479b-89fb-79e25bf23e30",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        80
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.JIRA_BASE_URL || 'https://your-domain.atlassian.net').replace(/\\/$/, '') + '/rest/api/3/search?jql=' + encodeURIComponent($env.JIRA_READY_FOR_QA_JQL || 'status = \"Ready For QA\" ORDER BY updated ASC') + '&maxResults=' + ($env.JIRA_POLL_MAX_RESULTS || 25) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{$env.JIRA_BASIC_AUTH}}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "af9c4225-aa18-42cf-8a03-7f4dbb9c7440",
      "name": "Search Ready For QA Jira Tickets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json || {};\nconst issues = Array.isArray(response.issues) ? response.issues : [];\nlet staticData = {};\ntry {\n  staticData = $getWorkflowStaticData('global');\n} catch (error) {\n  staticData = {};\n}\nstaticData.processedReadyForQa = staticData.processedReadyForQa || {};\n\nfunction adfToText(value) {\n  if (!value) return '';\n  if (typeof value === 'string') return value;\n  if (Array.isArray(value)) return value.map(adfToText).filter(Boolean).join('\\n');\n  if (typeof value === 'object') {\n    if (typeof value.text === 'string') return value.text;\n    if (Array.isArray(value.content)) return value.content.map(adfToText).filter(Boolean).join(value.type === 'paragraph' ? ' ' : '\\n');\n    if (typeof value.value === 'string') return value.value;\n    if (typeof value.displayName === 'string') return value.displayName;\n    if (typeof value.name === 'string') return value.name;\n  }\n  return '';\n}\n\nfunction asText(value) {\n  if (value === null || value === undefined) return '';\n  if (typeof value === 'string') return value;\n  const adf = adfToText(value);\n  if (adf) return adf;\n  try { return JSON.stringify(value); } catch (error) { return String(value); }\n}\n\nfunction listNames(value) {\n  if (!Array.isArray(value)) return [];\n  return value.map(item => {\n    if (typeof item === 'string') return item;\n    if (item && typeof item === 'object') return item.name || item.value || item.displayName || '';\n    return '';\n  }).filter(Boolean);\n}\n\nfunction acceptanceCriteria(fields) {\n  return asText(\n    fields.acceptanceCriteria ||\n    fields.acceptance_criteria ||\n    fields.customfield_acceptance_criteria ||\n    fields.customfield_10040 ||\n    fields.customfield_10041 ||\n    ''\n  );\n}\n\nconst out = [];\nfor (const issue of issues) {\n  const fields = issue.fields || {};\n  const statusName = fields.status?.name || '';\n  if (String(statusName).toLowerCase() !== 'ready for qa') continue;\n\n  const issueKey = issue.key || '';\n  const updated = fields.updated || '';\n  const dedupeKey = `${issueKey}:${updated}`;\n  if (staticData.processedReadyForQa[dedupeKey]) continue;\n\n  const selfUrl = issue.self || '';\n  const jiraBaseUrl = selfUrl.includes('/rest/api') ? selfUrl.split('/rest/api')[0] : '';\n  const description = asText(fields.description);\n  const summary = fields.summary || '';\n  const issueType = fields.issuetype?.name || '';\n  const labels = Array.isArray(fields.labels) ? fields.labels : [];\n  const components = listNames(fields.components);\n\n  out.push({\n    json: {\n      issueKey,\n      updated,\n      dedupeKey,\n      statusName,\n      summary,\n      description,\n      issueType,\n      jiraBrowseUrl: jiraBaseUrl && issueKey ? `${jiraBaseUrl}/browse/${issueKey}` : issueKey,\n      ticket: {\n        key: issueKey,\n        summary,\n        issueType,\n        description,\n        acceptanceCriteria: acceptanceCriteria(fields),\n        labels,\n        components\n      }\n    }\n  });\n}\n\nreturn out;"
      },
      "id": "47c87dd6-4cab-45df-a0fd-d5a0d7e24603",
      "name": "Keep New Ready For QA Tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.REPOTREE_API_BASE_URL || 'http://13.207.36.226:8001').replace(/\\/$/, '') }}/testcases/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {{ $json.ticket.toJsonString() }},\n  \"style\": \"plain\",\n  \"repos\": null,\n  \"embedding_model\": \"codebase_bge_m3\",\n  \"top_k\": 15,\n  \"include_semantic_context\": true\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "b8bb6bb8-b593-431f-a6b0-c434db7343e7",
      "name": "Generate Testcases In RepoTree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Keep New Ready For QA Tickets').item.json;\nconst generated = $input.item.json || {};\nconst testCases = generated.test_cases || '';\nconst repos = Array.isArray(generated.grounded_repos) ? generated.grounded_repos : [];\nconst preview = testCases.length > 2500 ? `${testCases.slice(0, 2500)}\\n...truncated in Slack, full test cases were added as a Jira comment.` : testCases;\nconst jiraComment = `AI generated test cases for Ready For QA.\\n\\nGrounded repos: ${repos.join(', ') || 'auto-detected'}\\nSemantic hits: ${generated.semantic_hits_count ?? 0}\\nFiles touched: ${generated.files_touched_count ?? 0}\\n\\n${testCases}`.slice(0, 30000);\nconst slackText = `Test cases generated for ${ticket.issueKey}\\nStatus: ${ticket.statusName}\\nSummary: ${ticket.summary}\\nGrounded repos: ${repos.join(', ') || 'auto-detected'}\\n\\n${preview}\\n\\n${ticket.jiraBrowseUrl}`;\nreturn [{\n  json: {\n    issueKey: ticket.issueKey,\n    updated: ticket.updated,\n    dedupeKey: ticket.dedupeKey,\n    jiraBrowseUrl: ticket.jiraBrowseUrl,\n    jiraComment,\n    slackText,\n    testCases,\n    generated\n  }\n}];"
      },
      "id": "a41a3db5-8e27-4df0-849d-c7b64f48f408",
      "name": "Format Testcase Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.JIRA_BASE_URL || 'https://your-domain.atlassian.net').replace(/\\/$/, '') }}/rest/api/3/issue/{{ $json.issueKey }}/comment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{$env.JIRA_BASIC_AUTH}}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": {\n    \"type\": \"doc\",\n    \"version\": 1,\n    \"content\": [\n      {\n        \"type\": \"paragraph\",\n        \"content\": [\n          {\n            \"type\": \"text\",\n            \"text\": {{ $json.jiraComment.toJsonString() }}\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "ae7df27d-dd26-41bf-82a1-c6182493398d",
      "name": "Comment Testcases On Jira",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SLACK_BOT_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": {{ ($env.SLACK_CLOSE_CHANNEL_ID || $env.SLACK_DEFAULT_CHANNEL_ID || 'REPLACE_SLACK_CHANNEL_ID').toJsonString() }},\n  \"text\": {{ $('Format Testcase Outputs').item.json.slackText.toJsonString() }},\n  \"unfurl_links\": false\n}",
        "options": {}
      },
      "id": "d9582a11-f0ac-4beb-bfd8-586b5c5a8423",
      "name": "Post Testcases To Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $('Format Testcase Outputs').item.json;\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  staticData.processedReadyForQa = staticData.processedReadyForQa || {};\n  staticData.processedReadyForQa[item.dedupeKey] = {\n    issueKey: item.issueKey,\n    updated: item.updated,\n    processedAt: new Date().toISOString()\n  };\n} catch (error) {\n  // Static data is unavailable in some test contexts; do not fail the workflow.\n}\nreturn [{ json: { ok: true, issueKey: item.issueKey, markedProcessed: true } }];"
      },
      "id": "c66a55d6-b7db-42a9-a3b5-8b133296b0c1",
      "name": "Mark Ticket Processed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Search Ready For QA Jira Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Ready For QA Jira Tickets": {
      "main": [
        [
          {
            "node": "Keep New Ready For QA Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep New Ready For QA Tickets": {
      "main": [
        [
          {
            "node": "Generate Testcases In RepoTree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Testcases In RepoTree": {
      "main": [
        [
          {
            "node": "Format Testcase Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Testcase Outputs": {
      "main": [
        [
          {
            "node": "Comment Testcases On Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Testcases On Jira": {
      "main": [
        [
          {
            "node": "Post Testcases To Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Testcases To Slack": {
      "main": [
        [
          {
            "node": "Mark Ticket Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d1544f63-f4e8-44cb-97da-21a36ee87e34",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "jira-ready-for-qa-testcase-builder",
  "tags": []
}
